<div id="contact" class="row cover bottom">
        <h2 class="text-center contact-header">Contact Me</h2>
        <p class="text-center contact-email">Get in touch with me <span class="glyphicon glyphicon-arrow-right"></span> manahan.erin@gmail.com</p>
        <div class="text-center contact-social-icons">
          <p>Or find me on:</p>
          <ul class="centered">
            <a href="https://codepen.io/sonorangirl/"><li><i class="fa fa-codepen"></i> CodePen</li></a>
            <a href="https://www.linkedin.com/in/emanahan"><li><i class="fa fa-linkedin-square"></i> LinkedIn</li></a>
            <a href="https://github.com/sonorangirl"><li><i class="fa fa-github"></i> Github</li></a>
            <a href="https://freecodecamp.com/sonorangirl"><li>(<i class="fa fa-fire"></i>) FreeCodeCamp</li></a>
            <a href="http://teamtreehouse.com/erinmanahan"><li> Treehouse</li></a>
            <a href="https://twitter.com/sonoran_girl"><li><i class="fa fa-twitter"></i> Twitter</li></a>
          </ul>
        </p>

      </div><!-- End #Contact -->

    </div>
