<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid d-flex justify-content-end me-4">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "About Me", "#about", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Services", "#skills", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Projects", "#portfolioexamples", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contacts", "#", class: "nav-link" %>
          </li>

      </ul>
    </div>
  </div>
</div>
