.card-skills{
  box-shadow: 6px -1px 34px 5px #ccc;
  border-radius: 15px;
  border:none;

  .skills-image {
    margin-bottom: 20px;
    width: 40%
  }

  #programingLanguages{
    font-size: 10px;
  }
}
